body {
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

header {
	background: url("background.jpeg") no-repeat center center fixed;
	  -webkit-background-size: cover;
  		-moz-background-size: cover;
  			-o-background-size: cover;
  				background-size: cover;
	height: 300px;
	border-top: solid 0.5em black;
	padding: 6em 0;
}

.hi {
	text-align: center;
	color: #FFF;
	font-family: "Gentium Book Basic", Georgia, serif;
	margin-bottom: 0.1em;
	letter-spacing: 0.05em;
}

.masterheading {
	color: #F7FE2E;
	font-style: normal;
	font-weight: bold;
	font-size: 6em;
	text-align: center;
	margin-top: -0.2em;
	letter-spacing: 0.05em;
}

.headings {
	font-size: 2em;
	margin: 0.67em 0;
	max-width: 19em;
	margin-top: 2em;
	letter-spacing: 0.05em;
	text-shadow: 1px 1px 1px #000;
}

h4 {
	letter-spacing: 0.02em;
	color: #FFBF00;
}

section {
	max-width: 38em;
	margin-left: auto;
	margin-right: auto;
	padding: auto 2em auto 2em;
}

section p {
	font-weight: 200;
	letter-spacing: 0.05em;
}

footer {
	text-align: center;
	background: #594F49; 
	margin-top: 5em;
	padding: 4em 0;
}

 footer ul li {
	list-style: none;
	display: inline; /*inline or inline-block? */
	font-weight: bold;
	cursor: auto;
	text-decoration: none;
}

footer p {
	color: white;
	font-weight: 300;
	letter-spacing: 0.05em;
}

footer a {
	color: #F7FE2E;
	font-weight: bold;
	letter-spacing: 0.05em;
	text-decoration: none;
}

footer a:visited {
	color: #D1A000;
}

/* Questions for Mentor 

- footer ul or footer > ul 


*/

/* Responsive Design */

@media only screen and (max-width: 500px) {
    .masterheading {
        font-size: 3em;
    }
    header {
    	padding: 3em 0;
    	height: 100px;
    }

    .footertext {
		padding-left: 3em;
		padding-right: 3em;
    }

    




